<h1>[{{title}}] 글 {{#if (eq mode "create")}}작성{{else}}수정{{/if}}</h1>
<div>
  <form name="boardForm" method="post" {{#if (eq mode "create" )}}action="/write" {{else}}action="/modify" {{/if}}>
    {{#if (eq mode "modify")}}
    <input type="hidden" name="id" value="{{post._id}}" />
    {{/if}}

    <div>
      <label>제목</label>
      <input type="text" name="title" placeholder="제목을 넣어주세요" value="{{post.title}}" />
    </div>

    <div>
      <label>이름</label>
      <input type="text" name="writer" placeholder="이름을 넣어주세요" value="{{post.writer}}" />
    </div>

    <div>
      <label>비밀번호</label>
      <input type="password" name="password" placeholder="비밀번호를 넣어주세요" />
    </div>

    <div>
      <label>본문을 입력하세요</label><br />
      <textarea placeholder="본문" name="content" cols="50" rows="10">{{post.content}}</textarea>
    </div>
    <br />
    <div>
      <button type="submit">저장</button>
      <button type="button" onclick="location.href='/'">취소</button>
    </div>
  </form>
</div>